<div class="container">
    <mat-toolbar class="main-toolbar bg-dark">
        <span>Audio Player</span>
    </mat-toolbar>
    <div class="content">
        <div class="logo">
            <img [src]="bandLogo" alt="A7X Logo">
            <div>{{band}}</div>
        </div>
        <mat-list>
            <h3 class="mat-subheader bg-dark">Songs</h3>
            <mat-list-item *ngFor="let song of songs; let i = index" (click)="openSong(song, i)">
                <mat-icon mat-list-icon>music_note</mat-icon>
                <h4 mat-line>{{song.Title}}</h4>
                <h5 mat-line>{{song.Band}}</h5>
                <mat-icon *ngIf="currentSong.index === i && !state?.error">volume_up</mat-icon>
                <h6 *ngIf="currentSong.index === i && state?.error">ERROR</h6>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="media-footer">
        <mat-toolbar class=" bg-dark">
            <mat-toolbar-row>
                {{state?.readableCurrentTime}}
                <mat-slider class="time-slider" id="time-slider" min="0" [max]="state?.duration" step="1" value="state?.currentTime"
                    (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentSong.index === undefined">
                </mat-slider>
                {{state?.readableDuration}}
            </mat-toolbar-row>
            <mat-toolbar-row class="media-action-bar">
                <button mat-button (click)="previous()" [disabled]="isFirstPlaying()">
                    <mat-icon mat-list-icon>skip_previous</mat-icon>
                </button>
                <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
                    <mat-icon mat-list-icon>play_circle_filled</mat-icon>
                </button>
                <button mat-button (click)="pause()" *ngIf="state?.playing">
                    <mat-icon mat-list-icon>pause</mat-icon>
                </button>
                <button mat-button (click)="next()" [disabled]="isLastPlaying()">
                    <mat-icon mat-list-icon>skip_next</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>