@import "~bootstrap/dist/css/bootstrap.min.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, 
body{ 
    height: 100%; 
}

body{ 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


/* CSS to change Default/'Accent' color */
input[type=range]::-webkit-slider-thumb {
    background: red;
}
input[type=range]::-moz-range-thumb {
    background: red;
}
input[type=range]::-ms-thumb {
    background: red;
}
